.ases-btn{
    cursor: pointer;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.ases-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.ases-btn:hover,
.ases-btn:focus,
.ases-btn.focus {
  color: #333;
  background-color: #ddd;
  text-decoration: none;
}

.ases-btn:active,
.ases-btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ases-btn.disabled,
.ases-btn[disabled]{
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin mq_btn_base($min_width){
    margin: 0px;
    padding: calc( ( #{$min_width} * #{$_buttons_min_width_padding_relation} * 0.305 ) / 2 );
    font-size: calc( #{$min_width} * #{$_buttons_min_width_padding_relation} * 0.39 );
}

@each $_col_space in $_grid_base{

    $col_namespace: nth($_col_space, 1);
    $min_width: nth($_col_space, 2);
    $max_width: nth($_col_space, 3);

    @if $max-width == 'inf' {
        .ases-btn-#{$col_namespace} {
            @include mq_btn_base( calc( #{$min_width} * 1.2920 ) );
        }
    } @else{
        .ases-btn-#{$col_namespace} {
            @include mq_btn_base(#{$max_width});
        }
    }
}

.badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    $_buttons_badge_color: #fff;
    @if $_buttons_badge_color {
        color: $_buttons_badge_color;
    }
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    $_buttons_badge_background_color: #777 !default;
    @if $_buttons_badge_background_color {
        background-color: $_buttons_badge_background_color;
    }
    border-radius: 10px;
}