// Require previous definition of (size) $_containers_base_margin.
// Require previous definition of (size) $_containers_base_padding.

.ases-container{
    margin-top: $_containers_base_margin_top;
    margin-right: $_containers_base_margin_right;
    margin-bottom: $_containers_base_margin_bottom;
    margin-left: $_containers_base_margin_left;
    padding-top: $_containers_base_padding_top;
    padding-right: $_containers_base_padding_right; 
    padding-bottom: $_containers_base_padding_bottom;
    padding-left: $_containers_base_padding_left;
}

.ases-container-fluid{
    margin-top: $_containers_base_margin_top;
    margin-right: $_containers_base_margin_right;
    margin-bottom: $_containers_base_margin_bottom;
    margin-left: $_containers_base_margin_left;
    padding-top: $_containers_base_padding_top;
    padding-right: $_containers_base_padding_right; 
    padding-bottom: $_containers_base_padding_bottom;
    padding-left: $_containers_base_padding_left;
}