.ases-container{
    margin: $_containers_base_margin;
    padding: $_containers_base_padding;
    display: flex;
}

.ases-container-fluid{
    margin: $_containers_base_margin;
    padding: $_containers_base_padding;
    display: flex;
}