.ases-form-control {
    display: block;
    width: 100%;
    background-clip: padding-box;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: #{$_forms_form_control_shadow};
    -webkit-box-shadow: #{$_forms_form_control_shadow};
    -webkit-transition: outline-color ease-in-out #{$_forms_form_control_trasition_time}, border-color ease-in-out #{$_forms_form_control_trasition_time}, -webkit-box-shadow ease-in-out #{$_forms_form_control_trasition_time};
    -o-transition: outline-color ease-in-out #{$_forms_form_control_trasition_time}, border-color ease-in-out #{$_forms_form_control_trasition_time}, box-shadow ease-in-out #{$_forms_form_control_trasition_time};
    transition: outline-color ease-in-out #{$_forms_form_control_trasition_time}, border-color ease-in-out #{$_forms_form_control_trasition_time}, box-shadow ease-in-out #{$_forms_form_control_trasition_time};
    transition-property: outline-color, border-color, box-shadow;
    transition-duration: #{$_forms_form_control_trasition_time}, #{$_forms_form_control_trasition_time},  #{$_forms_form_control_trasition_time};
    transition-timing-function: ease-in-out,  ease-in-out,  ease-in-out;
    border-radius: 4px;
}

.ases-form-control:focus{
    outline: 0;
    border-color: #{$_forms_form_control_outline_color};
    -webkit-box-shadow: #{$_forms_form_control_outline_shadow};
    box-shadow: #{$_forms_form_control_outline_shadow};
}

.ases-form-group{
    label{
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
    margin-bottom: 15px;
}

@each $_forms_type in $_forms_input_type {
    input[type=#{$_forms_type}].ases-form-control{
        height: #{$_forms_input_height};
        border-width: #{$_forms_input_border_width};
        padding: #{$_forms_input_padding};
    }
}
