// Require previous definition of (int) $_grid_number_columns.
// Require previous definition of (int) $_grid_col_base_padding.

.ases-container-fluid{
    .ases-row{
        margin-left: -#{$_containers_base_padding_right};
        margin-right: -#{$_containers_base_padding_right};
    }
}

.ases-row{
    @for $_col from 1 through $_grid_number_columns {
        .ases-col-#{$_col} {
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: #{_containers_base_padding_right};
            padding-left: #{_containers_base_padding_left};
            width: calc( ( 100% / #{$_grid_number_columns} ) * #{$_col} );
        }
    }
}