@font-face {
    font-family: "Glyphicons Halflings";
    src: url("fonts/glyphicons-halflings-regular.eot");
    src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.ases-glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ases-glyphicon-asterisk               { &:before { content: "\002a"; } }
.ases-glyphicon-plus                   { &:before { content: "\002b"; } }
.ases-glyphicon-euro,
.ases-glyphicon-eur                    { &:before { content: "\20ac"; } }
.ases-glyphicon-minus                  { &:before { content: "\2212"; } }
.ases-glyphicon-cloud                  { &:before { content: "\2601"; } }
.ases-glyphicon-envelope               { &:before { content: "\2709"; } }
.ases-glyphicon-pencil                 { &:before { content: "\270f"; } }
.ases-glyphicon-glass                  { &:before { content: "\e001"; } }
.ases-glyphicon-music                  { &:before { content: "\e002"; } }
.ases-glyphicon-search                 { &:before { content: "\e003"; } }
.ases-glyphicon-heart                  { &:before { content: "\e005"; } }
.ases-glyphicon-star                   { &:before { content: "\e006"; } }
.ases-glyphicon-star-empty             { &:before { content: "\e007"; } }
.ases-glyphicon-user                   { &:before { content: "\e008"; } }
.ases-glyphicon-film                   { &:before { content: "\e009"; } }
.ases-glyphicon-th-large               { &:before { content: "\e010"; } }
.ases-glyphicon-th                     { &:before { content: "\e011"; } }
.ases-glyphicon-th-list                { &:before { content: "\e012"; } }
.ases-glyphicon-ok                     { &:before { content: "\e013"; } }
.ases-glyphicon-remove                 { &:before { content: "\e014"; } }
.ases-glyphicon-zoom-in                { &:before { content: "\e015"; } }
.ases-glyphicon-zoom-out               { &:before { content: "\e016"; } }
.ases-glyphicon-off                    { &:before { content: "\e017"; } }
.ases-glyphicon-signal                 { &:before { content: "\e018"; } }
.ases-glyphicon-cog                    { &:before { content: "\e019"; } }
.ases-glyphicon-trash                  { &:before { content: "\e020"; } }
.ases-glyphicon-home                   { &:before { content: "\e021"; } }
.ases-glyphicon-file                   { &:before { content: "\e022"; } }
.ases-glyphicon-time                   { &:before { content: "\e023"; } }
.ases-glyphicon-road                   { &:before { content: "\e024"; } }
.ases-glyphicon-download-alt           { &:before { content: "\e025"; } }
.ases-glyphicon-download               { &:before { content: "\e026"; } }
.ases-glyphicon-upload                 { &:before { content: "\e027"; } }
.ases-glyphicon-inbox                  { &:before { content: "\e028"; } }
.ases-glyphicon-play-circle            { &:before { content: "\e029"; } }
.ases-glyphicon-repeat                 { &:before { content: "\e030"; } }
.ases-glyphicon-refresh                { &:before { content: "\e031"; } }
.ases-glyphicon-list-alt               { &:before { content: "\e032"; } }
.ases-glyphicon-lock                   { &:before { content: "\e033"; } }
.ases-glyphicon-flag                   { &:before { content: "\e034"; } }
.ases-glyphicon-headphones             { &:before { content: "\e035"; } }
.ases-glyphicon-volume-off             { &:before { content: "\e036"; } }
.ases-glyphicon-volume-down            { &:before { content: "\e037"; } }
.ases-glyphicon-volume-up              { &:before { content: "\e038"; } }
.ases-glyphicon-qrcode                 { &:before { content: "\e039"; } }
.ases-glyphicon-barcode                { &:before { content: "\e040"; } }
.ases-glyphicon-tag                    { &:before { content: "\e041"; } }
.ases-glyphicon-tags                   { &:before { content: "\e042"; } }
.ases-glyphicon-book                   { &:before { content: "\e043"; } }
.ases-glyphicon-bookmark               { &:before { content: "\e044"; } }
.ases-glyphicon-print                  { &:before { content: "\e045"; } }
.ases-glyphicon-camera                 { &:before { content: "\e046"; } }
.ases-glyphicon-font                   { &:before { content: "\e047"; } }
.ases-glyphicon-bold                   { &:before { content: "\e048"; } }
.ases-glyphicon-italic                 { &:before { content: "\e049"; } }
.ases-glyphicon-text-height            { &:before { content: "\e050"; } }
.ases-glyphicon-text-width             { &:before { content: "\e051"; } }
.ases-glyphicon-align-left             { &:before { content: "\e052"; } }
.ases-glyphicon-align-center           { &:before { content: "\e053"; } }
.ases-glyphicon-align-right            { &:before { content: "\e054"; } }
.ases-glyphicon-align-justify          { &:before { content: "\e055"; } }
.ases-glyphicon-list                   { &:before { content: "\e056"; } }
.ases-glyphicon-indent-left            { &:before { content: "\e057"; } }
.ases-glyphicon-indent-right           { &:before { content: "\e058"; } }
.ases-glyphicon-facetime-video         { &:before { content: "\e059"; } }
.ases-glyphicon-picture                { &:before { content: "\e060"; } }
.ases-glyphicon-map-marker             { &:before { content: "\e062"; } }
.ases-glyphicon-adjust                 { &:before { content: "\e063"; } }
.ases-glyphicon-tint                   { &:before { content: "\e064"; } }
.ases-glyphicon-edit                   { &:before { content: "\e065"; } }
.ases-glyphicon-share                  { &:before { content: "\e066"; } }
.ases-glyphicon-check                  { &:before { content: "\e067"; } }
.ases-glyphicon-move                   { &:before { content: "\e068"; } }
.ases-glyphicon-step-backward          { &:before { content: "\e069"; } }
.ases-glyphicon-fast-backward          { &:before { content: "\e070"; } }
.ases-glyphicon-backward               { &:before { content: "\e071"; } }
.ases-glyphicon-play                   { &:before { content: "\e072"; } }
.ases-glyphicon-pause                  { &:before { content: "\e073"; } }
.ases-glyphicon-stop                   { &:before { content: "\e074"; } }
.ases-glyphicon-forward                { &:before { content: "\e075"; } }
.ases-glyphicon-fast-forward           { &:before { content: "\e076"; } }
.ases-glyphicon-step-forward           { &:before { content: "\e077"; } }
.ases-glyphicon-eject                  { &:before { content: "\e078"; } }
.ases-glyphicon-chevron-left           { &:before { content: "\e079"; } }
.ases-glyphicon-chevron-right          { &:before { content: "\e080"; } }
.ases-glyphicon-plus-sign              { &:before { content: "\e081"; } }
.ases-glyphicon-minus-sign             { &:before { content: "\e082"; } }
.ases-glyphicon-remove-sign            { &:before { content: "\e083"; } }
.ases-glyphicon-ok-sign                { &:before { content: "\e084"; } }
.ases-glyphicon-question-sign          { &:before { content: "\e085"; } }
.ases-glyphicon-info-sign              { &:before { content: "\e086"; } }
.ases-glyphicon-screenshot             { &:before { content: "\e087"; } }
.ases-glyphicon-remove-circle          { &:before { content: "\e088"; } }
.ases-glyphicon-ok-circle              { &:before { content: "\e089"; } }
.ases-glyphicon-ban-circle             { &:before { content: "\e090"; } }
.ases-glyphicon-arrow-left             { &:before { content: "\e091"; } }
.ases-glyphicon-arrow-right            { &:before { content: "\e092"; } }
.ases-glyphicon-arrow-up               { &:before { content: "\e093"; } }
.ases-glyphicon-arrow-down             { &:before { content: "\e094"; } }
.ases-glyphicon-share-alt              { &:before { content: "\e095"; } }
.ases-glyphicon-resize-full            { &:before { content: "\e096"; } }
.ases-glyphicon-resize-small           { &:before { content: "\e097"; } }
.ases-glyphicon-exclamation-sign       { &:before { content: "\e101"; } }
.ases-glyphicon-gift                   { &:before { content: "\e102"; } }
.ases-glyphicon-leaf                   { &:before { content: "\e103"; } }
.ases-glyphicon-fire                   { &:before { content: "\e104"; } }
.ases-glyphicon-eye-open               { &:before { content: "\e105"; } }
.ases-glyphicon-eye-close              { &:before { content: "\e106"; } }
.ases-glyphicon-warning-sign           { &:before { content: "\e107"; } }
.ases-glyphicon-plane                  { &:before { content: "\e108"; } }
.ases-glyphicon-calendar               { &:before { content: "\e109"; } }
.ases-glyphicon-random                 { &:before { content: "\e110"; } }
.ases-glyphicon-comment                { &:before { content: "\e111"; } }
.ases-glyphicon-magnet                 { &:before { content: "\e112"; } }
.ases-glyphicon-chevron-up             { &:before { content: "\e113"; } }
.ases-glyphicon-chevron-down           { &:before { content: "\e114"; } }
.ases-glyphicon-retweet                { &:before { content: "\e115"; } }
.ases-glyphicon-shopping-cart          { &:before { content: "\e116"; } }
.ases-glyphicon-folder-close           { &:before { content: "\e117"; } }
.ases-glyphicon-folder-open            { &:before { content: "\e118"; } }
.ases-glyphicon-resize-vertical        { &:before { content: "\e119"; } }
.ases-glyphicon-resize-horizontal      { &:before { content: "\e120"; } }
.ases-glyphicon-hdd                    { &:before { content: "\e121"; } }
.ases-glyphicon-bullhorn               { &:before { content: "\e122"; } }
.ases-glyphicon-bell                   { &:before { content: "\e123"; } }
.ases-glyphicon-certificate            { &:before { content: "\e124"; } }
.ases-glyphicon-thumbs-up              { &:before { content: "\e125"; } }
.ases-glyphicon-thumbs-down            { &:before { content: "\e126"; } }
.ases-glyphicon-hand-right             { &:before { content: "\e127"; } }
.ases-glyphicon-hand-left              { &:before { content: "\e128"; } }
.ases-glyphicon-hand-up                { &:before { content: "\e129"; } }
.ases-glyphicon-hand-down              { &:before { content: "\e130"; } }
.ases-glyphicon-circle-arrow-right     { &:before { content: "\e131"; } }
.ases-glyphicon-circle-arrow-left      { &:before { content: "\e132"; } }
.ases-glyphicon-circle-arrow-up        { &:before { content: "\e133"; } }
.ases-glyphicon-circle-arrow-down      { &:before { content: "\e134"; } }
.ases-glyphicon-globe                  { &:before { content: "\e135"; } }
.ases-glyphicon-wrench                 { &:before { content: "\e136"; } }
.ases-glyphicon-tasks                  { &:before { content: "\e137"; } }
.ases-glyphicon-filter                 { &:before { content: "\e138"; } }
.ases-glyphicon-briefcase              { &:before { content: "\e139"; } }
.ases-glyphicon-fullscreen             { &:before { content: "\e140"; } }
.ases-glyphicon-dashboard              { &:before { content: "\e141"; } }
.ases-glyphicon-paperclip              { &:before { content: "\e142"; } }
.ases-glyphicon-heart-empty            { &:before { content: "\e143"; } }
.ases-glyphicon-link                   { &:before { content: "\e144"; } }
.ases-glyphicon-phone                  { &:before { content: "\e145"; } }
.ases-glyphicon-pushpin                { &:before { content: "\e146"; } }
.ases-glyphicon-usd                    { &:before { content: "\e148"; } }
.ases-glyphicon-gbp                    { &:before { content: "\e149"; } }
.ases-glyphicon-sort                   { &:before { content: "\e150"; } }
.ases-glyphicon-sort-by-alphabet       { &:before { content: "\e151"; } }
.ases-glyphicon-sort-by-alphabet-alt   { &:before { content: "\e152"; } }
.ases-glyphicon-sort-by-order          { &:before { content: "\e153"; } }
.ases-glyphicon-sort-by-order-alt      { &:before { content: "\e154"; } }
.ases-glyphicon-sort-by-attributes     { &:before { content: "\e155"; } }
.ases-glyphicon-sort-by-attributes-alt { &:before { content: "\e156"; } }
.ases-glyphicon-unchecked              { &:before { content: "\e157"; } }
.ases-glyphicon-expand                 { &:before { content: "\e158"; } }
.ases-glyphicon-collapse-down          { &:before { content: "\e159"; } }
.ases-glyphicon-collapse-up            { &:before { content: "\e160"; } }
.ases-glyphicon-log-in                 { &:before { content: "\e161"; } }
.ases-glyphicon-flash                  { &:before { content: "\e162"; } }
.ases-glyphicon-log-out                { &:before { content: "\e163"; } }
.ases-glyphicon-new-window             { &:before { content: "\e164"; } }
.ases-glyphicon-record                 { &:before { content: "\e165"; } }
.ases-glyphicon-save                   { &:before { content: "\e166"; } }
.ases-glyphicon-open                   { &:before { content: "\e167"; } }
.ases-glyphicon-saved                  { &:before { content: "\e168"; } }
.ases-glyphicon-import                 { &:before { content: "\e169"; } }
.ases-glyphicon-export                 { &:before { content: "\e170"; } }
.ases-glyphicon-send                   { &:before { content: "\e171"; } }
.ases-glyphicon-floppy-disk            { &:before { content: "\e172"; } }
.ases-glyphicon-floppy-saved           { &:before { content: "\e173"; } }
.ases-glyphicon-floppy-remove          { &:before { content: "\e174"; } }
.ases-glyphicon-floppy-save            { &:before { content: "\e175"; } }
.ases-glyphicon-floppy-open            { &:before { content: "\e176"; } }
.ases-glyphicon-credit-card            { &:before { content: "\e177"; } }
.ases-glyphicon-transfer               { &:before { content: "\e178"; } }
.ases-glyphicon-cutlery                { &:before { content: "\e179"; } }
.ases-glyphicon-header                 { &:before { content: "\e180"; } }
.ases-glyphicon-compressed             { &:before { content: "\e181"; } }
.ases-glyphicon-earphone               { &:before { content: "\e182"; } }
.ases-glyphicon-phone-alt              { &:before { content: "\e183"; } }
.ases-glyphicon-tower                  { &:before { content: "\e184"; } }
.ases-glyphicon-stats                  { &:before { content: "\e185"; } }
.ases-glyphicon-sd-video               { &:before { content: "\e186"; } }
.ases-glyphicon-hd-video               { &:before { content: "\e187"; } }
.ases-glyphicon-subtitles              { &:before { content: "\e188"; } }
.ases-glyphicon-sound-stereo           { &:before { content: "\e189"; } }
.ases-glyphicon-sound-dolby            { &:before { content: "\e190"; } }
.ases-glyphicon-sound-5-1              { &:before { content: "\e191"; } }
.ases-glyphicon-sound-6-1              { &:before { content: "\e192"; } }
.ases-glyphicon-sound-7-1              { &:before { content: "\e193"; } }
.ases-glyphicon-copyright-mark         { &:before { content: "\e194"; } }
.ases-glyphicon-registration-mark      { &:before { content: "\e195"; } }
.ases-glyphicon-cloud-download         { &:before { content: "\e197"; } }
.ases-glyphicon-cloud-upload           { &:before { content: "\e198"; } }
.ases-glyphicon-tree-conifer           { &:before { content: "\e199"; } }
.ases-glyphicon-tree-deciduous         { &:before { content: "\e200"; } }
.ases-glyphicon-cd                     { &:before { content: "\e201"; } }
.ases-glyphicon-save-file              { &:before { content: "\e202"; } }
.ases-glyphicon-open-file              { &:before { content: "\e203"; } }
.ases-glyphicon-level-up               { &:before { content: "\e204"; } }
.ases-glyphicon-copy                   { &:before { content: "\e205"; } }
.ases-glyphicon-paste                  { &:before { content: "\e206"; } }
.ases-glyphicon-door                   { &:before { content: "\1f6aa"; } }
.ases-glyphicon-key                    { &:before { content: "\1f511"; } }
.ases-glyphicon-alert                  { &:before { content: "\e209"; } }
.ases-glyphicon-equalizer              { &:before { content: "\e210"; } }
.ases-glyphicon-king                   { &:before { content: "\e211"; } }
.ases-glyphicon-queen                  { &:before { content: "\e212"; } }
.ases-glyphicon-pawn                   { &:before { content: "\e213"; } }
.ases-glyphicon-bishop                 { &:before { content: "\e214"; } }
.ases-glyphicon-knight                 { &:before { content: "\e215"; } }
.ases-glyphicon-baby-formula           { &:before { content: "\e216"; } }
.ases-glyphicon-tent                   { &:before { content: "\26fa"; } }
.ases-glyphicon-blackboard             { &:before { content: "\e218"; } }
.ases-glyphicon-bed                    { &:before { content: "\e219"; } }
.ases-glyphicon-apple                  { &:before { content: "\f8ff"; } }
.ases-glyphicon-erase                  { &:before { content: "\e221"; } }
.ases-glyphicon-hourglass              { &:before { content: "\231b"; } }
.ases-glyphicon-lamp                   { &:before { content: "\e223"; } }
.ases-glyphicon-duplicate              { &:before { content: "\e224"; } }
.ases-glyphicon-piggy-bank             { &:before { content: "\e225"; } }
.ases-glyphicon-scissors               { &:before { content: "\e226"; } }
.ases-glyphicon-bitcoin                { &:before { content: "\e227"; } }
.ases-glyphicon-btc                    { &:before { content: "\e227"; } }
.ases-glyphicon-xbt                    { &:before { content: "\e227"; } }
.ases-glyphicon-yen                    { &:before { content: "\00a5"; } }
.ases-glyphicon-jpy                    { &:before { content: "\00a5"; } }
.ases-glyphicon-ruble                  { &:before { content: "\20bd"; } }
.ases-glyphicon-rub                    { &:before { content: "\20bd"; } }
.ases-glyphicon-scale                  { &:before { content: "\e230"; } }
.ases-glyphicon-ice-lolly              { &:before { content: "\e231"; } }
.ases-glyphicon-ice-lolly-tasted       { &:before { content: "\e232"; } }
.ases-glyphicon-education              { &:before { content: "\e233"; } }
.ases-glyphicon-option-horizontal      { &:before { content: "\e234"; } }
.ases-glyphicon-option-vertical        { &:before { content: "\e235"; } }
.ases-glyphicon-menu-hamburger         { &:before { content: "\e236"; } }
.ases-glyphicon-modal-window           { &:before { content: "\e237"; } }
.ases-glyphicon-oil                    { &:before { content: "\e238"; } }
.ases-glyphicon-grain                  { &:before { content: "\e239"; } }
.ases-glyphicon-sunglasses             { &:before { content: "\e240"; } }
.ases-glyphicon-text-size              { &:before { content: "\e241"; } }
.ases-glyphicon-text-color             { &:before { content: "\e242"; } }
.ases-glyphicon-text-background        { &:before { content: "\e243"; } }
.ases-glyphicon-object-align-top       { &:before { content: "\e244"; } }
.ases-glyphicon-object-align-bottom    { &:before { content: "\e245"; } }
.ases-glyphicon-object-align-horizontal{ &:before { content: "\e246"; } }
.ases-glyphicon-object-align-left      { &:before { content: "\e247"; } }
.ases-glyphicon-object-align-vertical  { &:before { content: "\e248"; } }
.ases-glyphicon-object-align-right     { &:before { content: "\e249"; } }
.ases-glyphicon-triangle-right         { &:before { content: "\e250"; } }
.ases-glyphicon-triangle-left          { &:before { content: "\e251"; } }
.ases-glyphicon-triangle-bottom        { &:before { content: "\e252"; } }
.ases-glyphicon-triangle-top           { &:before { content: "\e253"; } }
.ases-glyphicon-console                { &:before { content: "\e254"; } }
.ases-glyphicon-superscript            { &:before { content: "\e255"; } }
.ases-glyphicon-subscript              { &:before { content: "\e256"; } }
.ases-glyphicon-menu-left              { &:before { content: "\e257"; } }
.ases-glyphicon-menu-right             { &:before { content: "\e258"; } }
.ases-glyphicon-menu-down              { &:before { content: "\e259"; } }
.ases-glyphicon-menu-up                { &:before { content: "\e260"; } }
