//Grouped by var dependence
//--------------
$_general_font_family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$_general_size: 14px;
$_general_height: 1.42857143;
$_general_color: #333;
$_general_background_color: #fff;
@import '_general.scss';
//--------------
$_containers_base_margin_top: 0px;
$_containers_base_margin_right: auto;
$_containers_base_margin_bottom: 0px;
$_containers_base_margin_left: auto;
$_containers_base_padding_top: 0px;
$_containers_base_padding_right: 15px;
$_containers_base_padding_bottom: 0px;
$_containers_base_padding_left: 15px;
$_grid_col_base_padding: 0px;
$_grid_number_columns: 12;
$_grid_base: (
    ('xs', 0, 767px),
    ('sm', 768px, 991px),
    ('md', 992px, 1199px),
    ('lg', 1200px, 'inf')
);
$_buttons_min_width_padding_relation: 0.0366666;
@import '_containers.scss';
@import '_grid.scss';
@import '_buttons.scss';
//--------------
$_forms_input_height: 34px;
$_forms_input_padding: 6px 12px 6px 12px;
$_forms_input_border_width: 1px;
$_forms_input_type: (
    "color",
    "date",
    "datetime-local",
    "file",
    "email",
    "month",
    "number",
    "password",
    "search",
    "tel",
    "text",
    "time",
    "url",
    "week",
);
$_forms_form_control_outline_color: #66afe9;
$_forms_form_control_shadow: inset 0 1px 1px rgba(0,0,0,.075);
$_forms_form_control_outline_shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
$_forms_form_control_trasition_time: 0.15; 
@import '_forms.scss';
//--------------
@import '_icons.scss';